spring:
  application:
    name: suite-sync

  datasource:
    url: ${DATABASE_URL:}
    username: ${DATABASE_USERNAME:}
    password: ${DATABASE_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

jwt:
  private-key: ${JWT_PRIVATE_KEY:}
  public-key: ${JWT_PUBLIC_KEY:}
  expiration: ${JWT_EXPIRATION:86400000} # 24 hours in milliseconds

